.header {
  display: flex;
  flex-direction: column;
}

.headerlogo {
  height: 1.75rem;
  width: auto;
  margin: 0;
  padding: 0;
}


.header>div>div {

}

.submenu {
  width: 100vw;
  font-size: 11px;
  color: gray;
  font-style: normal;
  display: flex;
  flex-direction: horizontal;
  .submenu-actions{
    flex: 4;
    display: flex;
    flex-direction: row-reverse;
    span{
      margin-left: 1rem;
    }
  }
}


.submenu > div {
  border: 1px solid #f7f7f7;
  border-right: none;
  flex: 1;
  padding: .5rem 0;
}

.mainmenu {
  width: 100vw;
  font-size: 14px;
  align-content: center;
  height: 3rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  // width: 60%;
  justify-content: space-between;



  .mainmenu-middle {
    display: flex;
    flex-direction: row;
    div {
      margin: 0 1rem;
    }
  }
}

// .searchbar {
//   div {
//     font-family: futura-pt, sans-serif;
//     text-transform: none;
//     border: 1px solid gray;
//     height: 2rem;
//     width: 10rem;
//     border-radius: 2px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: gray;
//   }
// }



.headerbanner {
  padding-top: 15px;
  width: 100%;
  border: 1px solid lightgray;
  background-color: #f7f7f7;
  p {
    padding-left: 1rem;
    font-size: 10px;
  }
  div {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
     height: 3rem;
     h4{
      margin: 0;
     }
  }
}

ul {
  padding: 0px;
  list-style: none;
}

ul>li{
   display: inline-block;
   padding: 0 1rem;
}

