body {
  // background-color: #fbc547;
  color: #000;
  // font-family: "Futura", sans-serif;
  font-family: futura-pt, sans-serif;

  text-align: center;
  margin: 0;

}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}


.topbanner {
  // border: 1px solid aqua;
  width: 100vw;
  height: 40vw;
  background-image: url("https://images.unsplash.com/photo-1541806699785-118985f33630?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45084e4f73f6194d41a0c8addbe565ac&auto=format&fit=crop&w=1955&q=80");
  background-size: cover;
  background-position: center;
  text-align: left;
}
.banner-text{
  padding-left: 2rem;
  padding-top: 1rem;
  h1 {
    margin-bottom: 10px;
    width:10rem;
  }
  p {
    margin-top: 0;
    width: 15rem;
  }
  .darkbutton {
    background-color: black;
    color: white;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 1px;
  }
}

.bebas {
  font-family: Bebas, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
.header-12 {
  font-size: 12px;
}
.header-16 {
  font-size: 16px;
}
.header-24 {
  font-size: 24px;
}
.header-36 {
  font-size: 36px;
}

