body {
  // background-color: #fbc547;
  color: #333;
  // font-family: "Futura", sans-serif;
  font-family: futura-pt, sans-serif;

  text-align: center;
  margin: 0;

}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}


.banner {
  border: 1px solid aqua;
  width: 100vw;
  height: 40vw;
  background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e3917e828b7c2502b0041813eff1294&auto=format&fit=crop&w=2734&q=80");
  background-size: cover;
  background-position: center;
  text-align: left;
}

.bebas {
  font-family: Bebas, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.header-24 {
  font-size: 24px;
}
