<footer>
  <div class="footer">
    <div>
      <p class="bebas header-12">Grift Curds</p>
      <p class="bebas header-12">Student Biscuit</p>
      <p class="bebas header-12">Military Biscuit</p>
      <p class="bebas header-12">Store Finds You</p>
      <p class="bebas header-12">Sign Up For Trash</p>
      <p class="bebas header-12">Boycott Us</p>
      <p class="bebas header-12">Site Feedforward</p>
    </div>

    <div>
      <p class="bebas header-12">Get Halp</p>
      <p style="color: gray;"> Order Swatus</p>
      <p style="color: gray;"> Stripping and Deflowering</p>
      <p style="color: gray;">Pay Us</p>
      <p style="color: gray;"> Ways You Can Owe Us</p>
      <p style="color: gray;"> Contact Sports</p>
    </div>
    <div>
      <p class="bebas header-12">About Nike</p>
      <p style="color: gray;"> Nudes</p>
      <p style="color: gray;"> Couriers</p>
      <p style="color: gray;">Converz With Us</p>
      <p style="color: gray;">Vest-ers</p>
      <p style="color: gray;"> Sustainable Trash</p>
      <p style="color: gray;"> CA Last Supper Act</p>
    </div>
  </div>

</footer>
