<!DOCTYPE html>

<html>
  <head>
    <title>Noike. Just Don't.</title>
    <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Noike: just don't. No innovation, no products, and no experiences or services. You're welcome.">
    <meta name="og:title" content = "Noike. Just Don't.">
    <meta name="og:url" content="https://noikeshooz.com">
    <meta name="og:description" content="Check out Noikeshooz.com... or don't. Just don't.">
    <meta property="og:type" content="website">

    <!-- - - - - stylesheets -->
    <link rel="stylesheet" href="../stylesheets/site.css">
    <link rel="stylesheet" href="../stylesheets/header.css">

    <link rel="stylesheet" href="../stylesheets/footer.css">

  </head>
<body>
