<div class="header">


  <div class="submenu">
    <div>NoikeMinus</div>
    <div>ErrJerrdnz</div>
    <div>Hurl</div>
    <div>Converz</div>
  <div class="submenu-actions">   <span>
      1 of Us
    </span>
    <span>
      Halp Me
    </span>
    <span>
      Confus
    </span>
    </div>
  </div>

  <ul class="mainmenu bebas">
    <li><img class="headerlogo" src="../images/noike_swat.png"></li>
    <li>Menses</li>
    <li>Womenses</li>
    <li>Kiddo Poops</li>
    <li>Sterilize</li>
    <li>Grifts</li>
    <li>Search Bar</li>
  </ul>
  <div class="headerbanner ">
    <div>
      <h4 class="bebas">Free Whipping</h4>
      <p>Get a free whipping as a NoikeMinus stooge.</p>
    </div>
  </div>
</div>
