<div class="header">


  <div class="submenu">
    <div>NoikeMinus</div>
    <div>ErrJerrdnz</div>
    <div>Hurl</div>
    <div>Converz</div>
  <div class="submenu-actions">   <span>
      1 of Us
    </span>
    <span>
      Halp Me
    </span>
    <span>
      Confus
    </span>
    </div>
  </div>

  <div class="mainmenu bebas">
    <div style=" padding-left: 1rem;"><img class="headerlogo" src="../images/noike_swat.png"></div>
    <div class="mainmenu-middle">

      <div>Menses</div>
      <div>Womenses</div>
      <div>Kiddo Poops</div>
      <div>Sterilize</div>
      <div>Grifts</div>
    </div>
    <div class="searchbar" style="padding-right: 1rem;">

    </div>
  </div>
  <div class="headerbanner ">
    <div>
      <h4 class="bebas">Free Whipping</h4>
      <p>Get a free whipping as a NoikeMinus stooge.</p>
    </div>
  </div>
</div>
