---
title: Noike
---

<div class="banner">
  <div class="banner-text">
    <h1 class="bebas header-24">Give Kids Nothing. </h1>
    <p>And take all their Halloween Candy.</p>
    <div class="darkbutton">Shop Gifts</div>
  </div>

</div>

<div class="weekpicks">
  <div class="shoo_preview">
    <h3>ShooShoo</h3>
    <p>You can look but don't buy.</p>
  </div>
  <div class="shoo_preview">
    <h3>ShooShoo</h3>
    <p>You can look but don't buy.</p>
  </div>
  <div class="shoo_preview">
    <h3>ShooShoo</h3>
    <p>You can look but don't buy.</p>
  </div>
  <div class="shoo_preview">
    <h3>ShooShoo</h3>
    <p>You can look but don't buy.</p>
  </div>
</div>

<div class="section_col_2">
  <div class="subsection_col_1">
    <h3>No Fabric, No Materials</h3>
    <p>The most sustainable consumerism you don't have to buy.</p>
    <button class="lightbutton">
      Don't Shop
    </button>
  </div>
  <div class="subsection_col_1">
    <h3>Wear Air This Winter</h3>
    <p>Or wear whatever's already in your closet.</p>
    <button class="lightbutton">
      Walk Away
    </button>
  </div>
</div>

<div class="banner"></div>
