---
title: Noike
---

<div class="topbanner">
  <div class="banner-text">
    <h1 class="bebas header-36">Give Kids Nothing</h1>
    <p>And take all their Halloween Candy. It's for their own good.</p>
    <button class="darkbutton bebas header-12">Shop Gifts</button>
  </div>

</div>

  <h1 class="bebas header-16" style="text-align: left; margin-left: 1rem; margin-top: 2rem;">This Week's Picks</h1>
<div class="weekpicks">
  <div class="shoo-preview">
    <div class="shoo-preview-image"></div>
    <p>ShooShoo</p>
    <p class="graytext">You can look but don't buy.</p>
  </div>
  <div class="shoo-preview">
    <div class="shoo-preview-image"></div>
    <p>ShooShoo</p>
    <p class="graytext">You can look but don't buy.</p>
  </div>
  <div class="shoo-preview">
    <div class="shoo-preview-image"></div>
    <p>ShooShoo</p>
    <p class="graytext">You can look but don't buy.</p>
  </div>
  <div class="shoo-preview">
    <div class="shoo-preview-image"></div>
    <p>ShooShoo</p>
    <p class="graytext">You can look but don't buy.</p>
  </div>
</div>

<div class="section_col_2">
  <div class="subsection_col_1">
    <div class="card-text">
      <h3 class="bebas header-36" style="color: white;">No Fabric, No Materials</h3>
      <p style="color: white;">The most sustainable consumerism you don't have to buy.</p>
      <button class="lightbutton bebas header-12">
        Don't Shop
      </button>

    </div>
  </div>
  <div class="subsection_col_2">
    <div class="card-text">
      <h3 class="bebas header-36" style="color: white;">Wear Air This Winter</h3>
      <p style="color: white;">Or wear whatever's already in your closet.</p>
      <button class="lightbutton bebas header-12">
        Walk Away Now
      </button>
    </div>
  </div>
</div>

<div class="mid-banner">
  <div class="banner-text">
    <h1 class="bebas header-36">Turn Up For What?</h1>
    <p>Drink some water; put your feet up. </p>
    <div class="flex-row">

    <button class="darkbutton bebas header-12">Shop Grifts</button>
    <button class="darkbutton bebas header-12" style="margin-left: 1rem;">Shop Zits</button>
    </div>
  </div>
</div>

<div class="section_col_2">
  <div class="subsection_col_3">
    <div class="card-text">
      <h3 class="bebas header-36">No Fabric, No Materials</h3>
      <p>The most sustainable consumerism you don't have to buy.</p>
      <button class="darkbutton bebas header-12">
        Don't Shop
      </button>

    </div>
  </div>
  <div class="subsection_col_4">
    <div class="card-text">
      <h3 class="bebas header-36">Wear Air This Winter</h3>
      <p>Or wear whatever's already in your closet.</p>
      <button class="darkbutton bebas header-12">
        Walk Away Now
      </button>
    </div>
  </div>
</div>

  <div class="section_col_4" >
    <div class="col-wrapper" style="border-left:0;">
      <div class="subsection_col4">
        <h4 class="bebas header-12">Icons</h4>
        <p>Airforce 1</p>
        <p>Airforce 2</p>
        <p>Airforce 3</p>
        <p>Airforce 4</p>
        <div class="graybar"></div>
      </div>
    </div>

    <div class="col-wrapper">
      <div class="subsection_col4">
        <h4 class="bebas header-12">Shooz</h4>
        <p>Slip Slips</p>
        <p>Foot Thong</p>
        <p>Fuzzy Wuzzies</p>
        <p>BootsNPants</p>
        <div class="graybar"></div>
      </div>
    </div>
    <div class="col-wrapper">
      <div class="subsection_col4">
        <h4 class="bebas header-12">Kids</h4>
        <p>Kid's This</p>
        <p>Kid's That</p>
        <p>Kid's Stuff</p>
        <p>Kid's Trash</p>
        <div class="graybar"></div>
      </div>

    </div>

    <div class="col-wrapper">
      <div class="subsection_col4">
        <h4 class="bebas header-12" style="border-right: none;">Future</h4>
        <p>Downfall of Ye</p>
        <p>Curry's Slips</p>
        <p>LeBron's Tit</p>
        <p>Caw, Caw</p>
        <div class="graybar"></div>
      </div>
    </div>
  </div>
</div>
